@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';

@primary-color: #5d78ff;
@btn-text-shadow: unset;
@btn-border-radius-base: 5px;
@btn-border-radius-sm: 5px;
@font-size-base: 13px;
@form-vertical-label-padding: 0;
@form-item-margin-bottom: 18px;
@input-bg: transparent;

.help-not-inline .ant-form-item {
  margin-bottom: 8px;
}

.help-inline {
  .ant-form-item {
    margin-bottom: 8px;
  }


  .ant-form-item-with-help {
    .ant-input {
      transition: 0s
    }

    .show-help-leave.show-help-leave-active {
      display: none;
    }

    .show-help-leave.show-help-leave-active,
    .show-help-enter.show-help-enter-active,
    .show-help-appear.show-help-appear-active {
      animation-name: none;
      animation-play-state: unset;
      pointer-events: none;
    }

    .show-help-enter, .show-help-appear {
      opacity: 1;
      animation-timing-function: unset;
      animation-duration: 0s;
      //animation-fill-mode: both;
    }

    .ant-form-item-control-input {
      .ant-select-selection-placeholder {
        display: none;
      }


      ::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
      }

      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #fff;
        opacity: 0;
      }

      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: transparent;
        opacity: 0;
      }

      :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: transparent;
      }
    }
  }

  .ant-form-item-control {
    position: relative;

    .ant-form-item-control-input {
      z-index: 1;
    }

    .ant-form-item-explain {
      position: absolute;
      padding: 7px @input-padding-horizontal;
      top: 0;
      //transform: translateY(-50%);
      margin: 0;
    }
  }
}

.ant-form-item-explain.ant-form-item-explain-error {
  color: rgba(255, 77, 79, 0.80);
}

.ant-form-small .help-inline .ant-form-item-explain {
  padding: 3px @input-padding-horizontal-sm;
}

.tag-action {
  cursor: pointer;
  border-radius: 5px;

  &:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 8px;
  }

  &:nth-child(:last-child) {
    margin-right: 0;
  }
}

.ant-form-item-explain, .ant-form-item-extra {
  font-size: calc(@font-size-base - 1px);
}

.ant-divider-horizontal.ant-divider-with-text {
  font-size: @font-size-base;
}

.ant-input-number-input,
textarea.ant-input {
  background-color: #fff;
}

.Toastify__toast {
  font-family: inherit;
  font-size: 14px;
}

.ant-btn.ant-tag-geekblue:hover,
.ant-btn.ant-tag-geekblue:active,
.ant-btn.ant-tag-geekblue:focus {
  color: #2f54eb;
  background: #f0f5ff;
  border-color: #adc6ff;
  opacity: .85
}

.ant-btn.ant-tag-success:hover,
.ant-btn.ant-tag-success:active,
.ant-btn.ant-tag-success:focus {
  color: #52c41a;
  background: #f6ffed;
  border-color: #b7eb8f;
  opacity: .85
}

.ant-input::placeholder {
  color: rgb(136, 136, 136) !important;
}

.ant-menu-item-group-title {
  font-size: 14px;
  color: rgba(0, 0, 0, .45);
  font-style: italic;
  width: calc(250px - 32px);
  height: 36px;

  &:after {
    position: relative;
    top: 5px;
    display: block;
    width: calc(100% - 20px);
    height: 1px;
    background: #d9d9d9;
    content: "";
  }
}

.ant-picker {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-btn-volcano {
  color: #fff;
  background: #d4380d;
  border-color: #d4380d;
  text-shadow: unset;
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);

  &:hover, &:focus {
    background: #ed6b00;
    border-color: #ed6b00;
    color: #fff;
  }

  &:active {
    background: #b20000;
    border-color: #b20000;
    color: #fff;
  }
}

.ant-btn-purple {
  color: #fff;
  background: #531dab;
  border-color: #531dab;
  text-shadow: unset;
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);

  &:hover, &:focus {
    background: #7748ac;
    border-color: #7748ac;
    color: #fff;
  }

  &:active {
    background: #390089;
    border-color: #390089;
    color: #fff;
  }
}

.ant-btn-cyan {
  color: #fff;
  background: #08979c;
  border-color: #08979c;
  text-shadow: unset;
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);

  &:hover, &:focus {
    background: #2bbb97;
    border-color: #2bbb97;
    color: #fff;
  }

  &:active {
    background: #007679;
    border-color: #007679;
    color: #fff;
  }
}
