.expand-icon {
  position: absolute;
  top: 50%;
  right: 16px;
  margin: 0 !important;
  transform: translateY(-50%);

  > svg, > i {
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  i {
    font-size: 10px;
  }
}
